@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

@keyframes rain {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

.animate-rain {
  animation: rain linear infinite;
}

@keyframes snow {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(100vh);
  }
}

.animate-snow {
  animation: snow linear infinite;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
